In [1]:
import ALASutils as alas

from astropy.coordinates import SkyCoord
from astropy import units as u

import pandas as pd
import numpy as np

In [3]:
# Primer DataFrame con 10 filas
df1 = pd.DataFrame({
    'RA': [10.684, 12.491, 13.432, 14.678, 16.111, 17.234, 18.342, 19.876, 20.123, 21.456],
    'DEC': [-41.269, -42.321, -43.534, -44.567, -45.678, -46.789, -47.890, -48.345, -49.123, -50.234],
    'u': [15.3, 16.2, 14.7, 14.8, 15.5, 15.9, 14.6, 15.2, 14.9, 15.1],
    'g': [14.1, 15.5, 13.9, 14.5, 14.8, 15.3, 14.4, 14.6, 14.3, 14.7],
    'r': [13.9, 14.8, 13.4, 14.2, 14.9, 14.7, 14.1, 14.3, 14.0, 14.6]
})

# Segundo DataFrame con 15 filas
df2 = pd.DataFrame({
    'RA': [10.684, 12.491, 13.432, 14.678, 16.111, 17.230, 18.345, 19.870, 20.130, 21.400, 22.123, 23.456, 24.567, 25.789, 26.890],
    'DEC': [-41.269, -42.321, -43.534, -44.567, -45.678, -46.785, -47.889, -48.340, -49.120, -50.230, -51.234, -52.345, -53.456, -54.678, -55.789],
    'i': [13.7, 14.5, 13.2, 14.0, 15.2, 14.9, 14.5, 15.1, 14.8, 14.9, 15.1, 14.8, 14.5, 14.3, 14.1],
    'z': [13.6, 14.4, 13.1, 13.9, 15.1, 14.8, 14.4, 15.0, 14.7, 14.8, 15.0, 14.7, 14.4, 14.2, 14.0],
    'J0378': [12.8, 13.9, 12.5, 13.3, 14.7, 13.4, 12.9, 13.2, 13.0, 13.5, 13.2, 13.1, 13.0, 12.8, 12.5],
    'J0395': [12.7, 13.8, 12.4, 13.2, 14.6, 13.3, 12.8, 13.1, 12.9, 13.4, 13.1, 13.0, 12.9, 12.7, 12.4]
})

In [7]:
cat1 = df1
cat2 = df2

Xmatch = alas.CrossMatch ( cat1, cat2, coor1 = ['RA', 'DEC'], coor2 = ['RA', 'DEC'], sep_min = 5 * u.arcsec )

In [8]:
Xmatch

,index_c1,RA_c1,DEC_c1,u_c1,g_c1,r_c1,index_c2,RA_c2,DEC_c2,i_c2,z_c2,J0378_c2,J0395_c2
0,0,10.684,-41.269,15.3,14.1,13.9,0,10.684,-41.269,13.7,13.6,12.8,12.7
1,1,12.491,-42.321,16.2,15.5,14.8,1,12.491,-42.321,14.5,14.4,13.9,13.8
2,2,13.432,-43.534,14.7,13.9,13.4,2,13.432,-43.534,13.2,13.1,12.5,12.4
3,3,14.678,-44.567,14.8,14.5,14.2,3,14.678,-44.567,14.0,13.9,13.3,13.2
4,4,16.111,-45.678,15.5,14.8,14.9,4,16.111,-45.678,15.2,15.1,14.7,14.6

---

In [ ]:
fields = 'HYDRA-D-0001'

bands_list = [ 'G', 'R', 'I', 'Z']

args = {'list_of_IMG_names' : [ field + '_' + band + '_swp.fits' for band in bands_list ],
        'list_of_bands' : bands_list, 
        'list_of_zeropoints' : sx.get_zeropoints(bands_list, field)}

sx = alas.SourceXtractor ( config_file = 'SPLUS-S+FP.conf', zeropoint_file = 'iDR4_zero-points.csv' )
sx.set_param ( 'detection-image', dir_fields + field + '_suma.fits' )
sx.set_param ( 'python-config-file', dir_config + 'SPLUS-S+FP.py' )
sx.set_param ( 'python-arg', args )
sx.set_param ( 'log-file', field + '.log' )

stdout, stderr = sx.run ( 'cat_' + field + '.fits' )

print ( '\nstderr:', stderr )